*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    max-width:100%;
}
a:hover{
    color:black;
    background-color: black;
}
#logo{
    display:flex;
    justify-content:center;
    width: 100%;   
}
#logo img{
    height:150px;
}
#n{
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    justify-content: space-evenly;
    display:flex;
    list-style: none;
    color:#926C15;
    font-weight:900;
}
#n > a{
    text-decoration: none;
    color: #926C15;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
#daniel{
   padding:20px;
    background-color:#F4F3EB;
}
.containerdaniel{
    display:flex;
}
#daniel .fotonome{
    margin: 20px;
    text-align:center;
     width:30%;
}

#daniel h5{
    font-family:"Julius Sans One", sans-serif;
    color:#926C15;
    font-weight:900;
}
#daniel a{
    background-color: #FAD643;
    border-radius: 80px;
    padding: 10px 20px;
    margin-bottom: 50px;
    text-decoration: none;
    display: block;
    margin-top:20px;
}
#daniel p{
    text-align: center;
    font-family: "IM Fell Great Primer SC", serif;
}
#tex{
    font-family: "Roboto", sans-serif;;
    display: flex;
    align-items: center;
    width:70%;
}
#port{
    padding-bottom: 50px;
    margin-bottom: 10px;
}
#port img{
    height: 300px;
}
#port h2{
  font-family:"Julius Sans One", sans-serif;
    color:#926C15;
    font-weight:900;
    text-align: center;
    padding:50px;
}
#port.container{
    max-width: 1000px;
     margin: 0 auto;
}
#port div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    gap:20px;
}
#port  a {
    background-color: #FAD643;
    border-radius: 80px;
    padding: 10px 20px;
    margin-bottom: 50px;
    text-decoration: none;
}
#dep1{
    font-family:"Julius Sans One", sans-serif;
    color:#926C15;
    font-weight:900;
    text-align: center;
}
#dep2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#port p{
    text-align: center;
    font-family: "IM Fell Great Primer SC", serif;
}
#depcc{
    background-color: #F4F3EB;
}
#dep2 h4{
    font-family:"Julius Sans One", sans-serif;
    color:#926C15;
    font-weight:900;
    padding:10px;
}
#dep2 p{
    font-family: "Roboto", sans-serif;
   margin:20px;
}
#li3{
    font-family:"Julius Sans One", sans-serif;
    color:#926C15;
    font-weight:900;
    padding:50px;
}
#cont article{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height:100px;
}
#cont h4{
    padding: 10px;
}
#cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cont h5{
     font-family:"Julius Sans One", sans-serif;
}
#por1{
    font-family:"Julius Sans One", sans-serif;
    color:#926C15;
    font-weight:900;
    padding:50px;
    text-align: center;
}
#por2 div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    gap:20px;
}
#por2 img{
    height: 300px;
}
#depp{
    font-family: "Roboto", sans-serif;
    margin:20px;
    font-weight: 900;
}
#k a{
     text-decoration: none;
}
#his p{
    font-family: "Roboto", sans-serif;
    margin:20px;
    font-weight: 900;
}
#o a{
     text-decoration: none;
}
#depp p{
    background-color: #F4F3EB;
}
#his p{
    background-color: #F4F3EB;
}
#forms a{
    background-color: #FAD643;
    border-radius: 80px;
    padding: 10px 20px;
    margin-bottom: 50px;
    text-decoration: none;
    margin-top:20px;
}
#forms p{
    display:flex;
    justify-content: center;
}
form {
    max-width: 400px;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white; 
    font-family: 'Roboto', sans-serif;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; 
    font-family: 'Roboto', sans-serif;
}

.formulario {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 0; 
    box-sizing: border-box;
    font-size: 16px;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
}

textarea.formulario {
    height: 150px;
}

.formulario:focus {
    border-color: #926C15;
    box-shadow: 0 0 0 1px #926C15;
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 0; 
}

legend {
    font-weight: bold;
    color: #926C15;
    padding: 0 10px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
}

fieldset label {
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.btamarelo {
    background-color: #FAD643;
    color: #333;
    padding: 12px 25px;
    border: 2px solid #FAD643;
    border-radius: 0; 
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
    font-family: 'Julius Sans One', sans-serif;
    display: block; 
}
.btamarelo:hover {
    background-color: #926C15; 
    color: white; 
    border-color: #926C15;
}
@media screen and (max-width: 769px) {
    #cont {
        flex-direction: column;
        align-items: start;
    }
    #port div {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    #port img {
        height: 200px;
    }
    .containerdaniel {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fotonome {
        width: 100%;
    }
    #tex {
        width: 100%;
    }
    #dep2 {
        grid-template-columns: 1fr;
    }
    #dep2 article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #por2 div {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    form {
        max-width: 90%; 
        margin: 20px auto; 
        padding: 15px;
        border-radius: 0;
    }
    label, legend {
        font-size: 15px;
    }
    .formulario {
        padding: 8px;
        margin-bottom: 15px;
    }
    fieldset {
        padding: 10px;
        margin-bottom: 20px;
    }
    fieldset label {
        display: block; 
        margin-right: 0;
        margin-bottom: 5px;
    }
    .btamarelo {
        padding: 10px;
        font-size: 16px;
    }
}
@media screen and (max-width: 426px) {
    #port div {
        grid-template-columns: 1fr;
    }
    #port img {
        height: 250px;
    }
    #por2 div {
        grid-template-columns: 1fr;
    }
    form {
        max-width: 95%; 
        padding: 10px;
        margin: 20px auto;
    }
    textarea.formulario {
        height: 120px;
    }
    label, legend {
        font-size: 14px;
    }
    .btamarelo {
        padding: 12px;
        font-size: 15px;
        font-weight: 700;
    }
}